#content{
        width: 85%;
        margin: 20px auto;
        float: left;
   }
   form{
        width: 50%;
        margin: 20px auto;
   }
   form div{
        margin-top: 5px;
   }
   #img_div{
        width: 230px;
        height: 350px;
        padding: 5px;
        margin: 15px 15px;
        background:#edf3ff;
        float: left;
   }
   #img_div:after{
        content: "";
        display: block;
        clear: both;
   }
   img{
        float: left;
        height: 100px;
        margin: 5px;
        width: 95%;
        height: 250px;
   }
    .dietician_image{
        height: 60%;
    }
    .dietician_name{
        margin-top: 80px;
        padding-top: 25px;
        text-align: center; 
        font-family: 'Roboto', Arial;
        color: darkgray;
    }
            #sidebar{
                width: 200px;
                height: 100%;
                display: block;
                position: relative;
                left: 0px;
                top: 30px;
                float: left;
                background-color: dimgray;
            }
            ul{
                margin: 0px;
                padding: 0px;
            }
            ul li{
                list-style: none;
            }
            .sidebar_links{
                font-size: 16px;
                text-align: center;
                background: #1c1e1f;
                color: white;
                border-bottom: 1px solid #111;
                display: block;
                width: 180px;
                padding: 10px;
                text-decoration: none;
            }
            ul li a.sidebar_links: hover{
                border:1px solid gray;
            }